textarea {
    min-height: 400px;
}

.email-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: 1px solid black;
}

.email-items div:last-child {
    margin-left:auto;
    margin-right: 0;
}

.email-attributes {
    width: 200px;
    font-size: 100%;
}

.email-details {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

#mail-reply, #mail-archive {
    margin-top: 5%;
}