{% extends "auctions/layout.html" %}

{% block title %}
    Item Detail
{% endblock %}

{% block body %}

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <h1>Listing : {{ listing.title }}</h1>
    {% if watchlist and listing.title == watchlist.listing.title %}
        <p><a href="{% url 'remove_watchlist' listing.id %}"> <button type="button">Remove from Watchlist</button></a></p>
    {% elif request.user != listing.seller %}
        <p><a href="{% url 'add_watchlist' listing.id %}"> <button type="button">Add to Watchlist</button></a></p>
    {% endif %}

    <img src="{{ listing.image }}" alt="indeximage" style="height: 350px;">
    <p>{{ listing.description }}</p>

    {% if request.user == listing.seller and listing.status.name == "Open" %}
        <p> Last bid was at €{{ latest_bid.bid_price }}</p>
        <p>
            <form action="{% url 'close_bid' listing.id %}" method="post">
                {% csrf_token %}
                <input type="submit" name="close" value="Close Auction">
            </form>
        </p>
    {% elif request.user == listing.seller and listing.status.name == "Closed" %}
        <p> <strong>listing closed at €{{ latest_bid.bid_price }} from {{ latest_bid.bidder }} </strong></p>
    {% elif listing.status.name == "Closed" and latest_bid.bidder == request.user %}
    <p> <strong>You have won this listing at €{{ latest_bid.bid_price }} </strong></p>
    {% elif listing.status.name == 'Closed' and latest_bid.bidder != request.user %}
    <p> The Auction is closed at €{{ latest_bid.bid_price }} </p>
    {% else %}

        {% if not latest_bid %}
            <p>Starting price at €{{ listing.listing_price }}</p>
        {% else %}
            Last bid was at €{{ latest_bid.bid_price }} from {{ latest_bid.bidder }}
        {% endif %}
        <p>{{ biddings|length }} bid(s) placed so far.</p>
        <form action="{% url 'item_detail' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="bid" placeholder="Bid Amount" required>
            <!--p><button value="Place Bid"></button></p-->
            <input type="submit" value="Place Bid">
        </form>
        <h4>Details</h4>
        <ul>
            <li>Listed by: {{ listing.seller }}</li>
            <li>Category: {{ listing.category.name }} </li>
        </ul>
        <h6> Add a comment</h6>
        <form action="{% url 'add_comment' listing.id %}" method="post">
            {% csrf_token %}
            <textarea name="comment" rows="4" cols="50"></textarea>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    
        {% if comments %}
            <p><h5>Comments</h5></p>
            {% for comment in comments %}
                <p><h6>{{ comment.reviewer }}</h6></p>
                <div>
                    <p>{{ comment.comment }}</p>
                    <p>{{ comment.comment_date }}</p>
                </div>
            {% endfor %}
        {% endif %}
{% endblock %}